body{
    font-family: verdana, sans-serif;
    font-size: 0.8em;
    margin: 0px;
}
nav, section, article {
    margin: 5px;
    padding: 8px;
}
header, footer {
    background-color: red;
    color: white;
    padding: 5px;
    margin: 0;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 5px;
}